<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class= "text-monospace text-center">Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text-justify text monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam modi natus, quasi enim cumque magnam accusamus perferendis, minima tenetur eveniet quae, error recusandae consectetur! Esse fuga tempora rem molestias sint.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus assumenda provident expedita sit, maxime vero odio iusto distinctio asperiores beatae vitae nisi necessitatibus! Deserunt ut, aperiam enim dolorem voluptas sequi!
            </p>
        </div>
    </div>
</div>
<div class="parallax"></div>

<div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>
