<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="/assets/img/foto-perfil.jpg" alt="Foto do perfil">
    </div>
   
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>

      <p class="card-text text-center text-monospace">{{descricao}}</p>
      

        <a href="https://www.linkedin.com/in/vitorsalesdev" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

      

        <a href="https://www.github.com/vitorsalesdev" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>
